.App {
  text-align: center;
}

.itinerary {
  overflow-y: scroll;
  height: 100%;
  overflow-x: hidden;
  float: left
}

.nav {
  height: 4vh;
  background-color: white;
  color:white;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  text-align: center;
}

.main-window {
  padding-top: 4vh;
  height:100vh
}

.main-window-split{
  height: 100%;
}

div #login-page {
  filter: grayscale(100%);
  background-image: url(https://wallpaperaccess.com/full/313045.jpg);
  height: 100vh;
  width: 100vw;
  background-size:cover;
}
