.App {
  text-align: center;
  background: radial-gradient(rgba(47, 183, 241, 0.955),rgba(6, 13, 46));
  width: 100vw;
  z-index: -2
}

.itinerary {
  overflow-y: scroll;
  height: 100%;
  overflow-x: hidden;
  float: left
}


.main-window {
  padding-top: 2vh;
  height:95vh
}

.main-window-split{
  height: 93vh;
}

div #login-page {
  height: 100vh;
  width: 100vw;
  background-size:cover;
  background-image: url(https://wallpaperaccess.com/full/313045.jpg);
}

#login-page::after{
  content: "";
  background: black;
  opacity: 0;
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1
}

section {
  display: flex;
  justify-content: center;
  height: 60vh;
  align-items: center;
}

#hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero {
  height: 80%;
  width: 100%;
  position: relative
}

.hero::after {
  content:"";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.3;
  left: 0;
  top: 0
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

#search-new-itinerary {
  z-index: 2;
  position: relative;
  top: -50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.footer {
  background-color: black;
}