.App {
  text-align: center;
}

.itinerary {
  overflow-y: scroll;
  height: 96vh;
  overflow-x: hidden;
  float: left
}

.nav {
  height: 4vh;
  background-color: white;
  color:white;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  text-align: center;
}

.main-window {
  height:96vh
}

.main-window-split{
  height: 100%;
}

.login-page {
  background-image: url("https://c.pxhere.com/images/49/4e/8e758fc62ce5d977343b3932044d-1443121.jpg!d");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size:cover
}
