.map-container {
    height: 100%;
    width: 100%
}

.map-container-hidden {
    background-image: url('../components/images/placeholder.png');
    height: 100%;
}

.places-container {
    z-index: 10;
    width:80%
}

.combobox-input {
    width: 100%;
    padding: 0.5rem
}

.popover {
    z-index: 12
}